{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
  <h3>Mon panier</h3>
  <hr>
   
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col">Quantite</th>
        <th scope="col">Prix</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
    {% set total = null %}
    {% for product in cart %}
      
      <tr>
        <td>      
        <img src="/uploads/products/{{product.product.illustration}}" alt="{{product.product.name}}"  height="75px">
        </td>
        <td>{{product.quantity}}</td>
        <td>{{product.product.price/100|number_format(2)}} $</td>
        <td>{{ (product.product.price * product.quantity)/100|number_format(2) }}$</td>
      </tr>
      {% set total = product.product.price * product.quantity +total %}
    {% endfor %}
    </tbody>
  </table>
  <div class="text-right">
  <b>Nomre de produit :</b>{{cart|length}}</br>
  <b>total de mon panier :{{total/100|number_format(2) }}$</b>
  </div>
  <div class="text-right">
  
  <a href="" class="btn btn-success">valider mon panier</a>
  </div>
{% endblock %}
