{% extends 'base.html.twig' %}

{% block title %}{{product.name}}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-5">
      <img src="/uploads/products/{{product.illustration}}" alt="{{product.name}}" class="img-fluid">

    </div>
    <div class="col-md-7 mt-auto">
      <h3>{{product.name}}</h3>
      <p>{{product.subtitle}}</p>
      <span class="product-page-price">{{product.price/100|number_format(2)}} $</span>

      <hr>
      <p>{{product.description}}</p>
        <a href="{{path('add_to_cart',{'id': product.id})}}" class="btn btn-primary">ajouter au panier</a>
    </div>
</div>

{% endblock %}
